{block content}
<div class="container">
    <h1>Vítejte u poptávkového formuláře služeb</h1>
    

    {control surveyForm}
    <a n:href="Get:default" class="btn btn-warning">Výpis poptávek</a>
</div>

{/block}
